<div style="background-color: {{bgColor}}; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 8rem 6.5rem" >

    <div>
        <img src={{icon}}/>
    </div>
    <div>
        <h1>{{title}}</h1>
        <p>{{text}}</p>

    </div>
    <a href={{btn_url}} style="display: flex;  align-items: center; justify-content: space-between; gap: 1rem; padding: 10px 20px; border-radius: 10px; background-color: #ff6230; color: #FFFFFF; text-decoration: none; font-family: Inter; font-weight: 400; font-size: 18px; margin-left: -53%" >  
        
          <div>{{btn_name}}</div>
          <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.8882 0.732424L18.6382 7.48242C18.7431 7.58694 18.8263 7.71113 18.8831 7.84788C18.9399 7.98462 18.9691 8.13123 18.9691 8.2793C18.9691 8.42736 18.9399 8.57397 18.8831 8.71072C18.8263 8.84747 18.7431 8.97166 18.6382 9.07617L11.8882 15.8262C11.6769 16.0375 11.3902 16.1563 11.0913 16.1562C10.7925 16.1562 10.5058 16.0375 10.2945 15.8262C10.0831 15.6148 9.9644 15.3282 9.9644 15.0293C9.9644 14.7304 10.0831 14.4438 10.2945 14.2324L15.1235 9.40336H1.34229C1.04392 9.40336 0.757769 9.28483 0.54679 9.07386C0.335812 8.86288 0.217285 8.57673 0.217285 8.27836C0.217285 7.97999 0.335812 7.69384 0.54679 7.48287C0.757769 7.27189 1.04392 7.15336 1.34229 7.15336L15.1235 7.15336L10.2935 2.3243C10.0822 2.11296 9.96346 1.82631 9.96346 1.52742C9.96346 1.22854 10.0822 0.941895 10.2935 0.73055C10.5049 0.519205 10.7915 0.400471 11.0904 0.400471C11.3893 0.400471 11.6759 0.519205 11.8873 0.73055L11.8882 0.732424Z" fill="white"/>
          </svg>

      
    </a>  
        
</div>