
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<script>
     document.addEventListener("DOMContentLoaded", function () {
        const tabs = document.querySelectorAll('.store-toggle button');
        

        // Show all images by default
        document.querySelector('.google-reviews').style.display = 'flex';
        document.querySelector('.apple-reviews').style.display = 'none';
       
      
        tabs.forEach(tab => {
            tab.addEventListener('click', function () {
                // Remove active class from all tabs
                tabs.forEach(button => button.classList.remove('active'));

                // Add active class to clicked tab
                this.classList.add('active');
               
                // Get the filter category from clicked tab
                const filter = this.getAttribute('data-filter');

                // Show/Hide gallery divs based on filter
                if (filter === 'google') {
                    document.querySelector('.google-reviews').style.display = 'flex';
                    document.querySelector('.apple-reviews').style.display = 'none';
                    
                } else {
                    document.querySelector('.apple-reviews').style.display = 'flex';
                    document.querySelector('.google-reviews').style.display = 'none';
                }
            });
        });
    });

    

</script>


<style>
    .container{
        background-color: #f7f4ff;
        padding: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .store-toggle{
        background-color: #d9ccff;
        padding: 1rem;
        border-radius: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    .store-btn{
        padding: 1rem 2rem;
        margin-right: 1rem;
        cursor: pointer;
        background-color: #d9ccff;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        font-family: Inter !important;
        
    }

    .store-btn.active svg path{
        fill: white;
    }

    .store-btn svg path{
        fill: black;
    }

    .store-btn.active{
        
        background-color: #652fff;
        color: white;
    }
    
    .google-reviews{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 2rem;
    }
    .apple-reviews{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 2rem;
    }
    .people-say-slide{
        width: 34%;
    }
    .people-say{
        width: 75vw;
        overflow: hidden;
        border-radius: 2rem;
        position: relative;
    }
    .people-say-wrapper{
        border-radius: 2rem;
        width: 98%;
    }

    .people-say-head{
        font-family: "TomatoGrotesk_M", sans-serif !important;
        padding: 3rem;
        font-weight: 400;
        font-size: 4rem;
        text-align: center;
        color: #000;
    }

    hr{
        margin: 2rem 0;
        border-color: #652fff;
        background-color:#652fff;
        height: 2px;
    }

    .people-say-pagination{
        position: relative;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        top: 95%;
        left: -48%;
    }
    .swiper-button-prev{
        top: var(--swiper-navigation-top-offset,96%);
        left: 89%;
        z-index: 0;
    }

    .swiper-button-next{
        top:var(--swiper-navigation-top-offset,96%); 
        z-index: 0;
    }

    .swiper-button-next::after, .swiper-button-prev::after {
        content: "";
    }

    @media screen and (max-width: 768px) {
        .container{
            padding: 1rem;
        }

        .people-say-head{
            padding: 2rem;
            font-weight: 400;
            font-size: 3rem;
            text-align: center;
            color: #000;
        }

        .google-reviews{
            width: 100%;
        }

        .people-say{
            width: 95vw;
        }

        .swiper-button-prev{
            left: 80%;
        }

        .people-say-slide{
            width: 98%;
            margin-right: 7%;
        }
        .people-say-pagination{
            left: -40%;
        }

        .people-say-wrapper{
            width: 103%;
        }
    }
   
</style>

<div>
    <div class="container">
        <div class="people-say-head">What 3.5M people in India have to say</div>
        <div class="store-toggle">
            <button data-filter="google" class="store-btn active">
                <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.400503 1.21378C0.148238 1.48079 0 1.89429 0 2.4309V21.5874C0 22.124 0.148238 22.5375 0.400503 22.8045L0.464653 22.8669L11.1959 12.1357V11.8826L0.464653 1.15137L0.400503 1.21378Z" fill="white"/>
                    <mask id="mask0_521_3814" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="11" y="8" width="9" height="8">
                    <path d="M14.7712 15.715L11.1953 12.1364V11.8833L14.773 8.30566L19.0918 10.759C20.302 11.4473 20.302 12.5725 19.0918 13.2599L14.8536 15.6682L14.7712 15.715Z" fill="white"/>
                    </mask>
                    <g mask="url(#mask0_521_3814)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.7712 15.715L12.1953 12.1364V11.8833L15.773 8.30566L20.0918 10.759C21.302 11.4473 21.302 12.5725 20.0918 13.2599L15.8536 15.6682L15.7712 15.715Z" fill="white"/>
                    </g>
                    <mask id="mask1_521_3814" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="12" width="15" height="12">
                    <path d="M14.854 15.668L11.1958 12.0098L0.400391 22.8051C0.800027 23.2273 1.45886 23.2793 2.20092 22.858L14.854 15.668Z" fill="white"/>
                    </mask>
                    <g mask="url(#mask1_521_3814)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.854 15.668L12.1958 12.0098L1.40039 22.8051C1.80003 23.2273 2.45886 23.2793 3.20092 22.858L15.854 15.668Z" fill="white"/>
                    </g>
                    <mask id="mask2_521_3814" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="15" height="13">
                    <path d="M14.854 8.35118L2.20092 1.1612C1.45886 0.739895 0.800027 0.791908 0.400391 1.21408L11.1958 12.0095L14.854 8.35118Z" fill="white"/>
                    </mask>
                    <g mask="url(#mask2_521_3814)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.854 8.35118L3.20092 1.1612C2.45886 0.739895 1.80003 0.791908 1.40039 1.21408L12.1958 12.0095L15.854 8.35118Z" fill="white"/>
                    </g>
                </svg>
                Google Play
            </button>
            <button data-filter="apple" class="store-btn">
                <svg width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9399 12.106C14.9617 10.4095 15.8511 8.8425 17.2965 7.95393C16.3805 6.64583 14.9014 5.84619 13.3053 5.79625C11.6261 5.61999 9.9981 6.80108 9.14239 6.80108C8.27012 6.80108 6.95262 5.81375 5.53389 5.84294C3.66721 5.90325 1.96915 6.93884 1.06097 8.57081C-0.873029 11.9192 0.569561 16.8403 2.42217 19.5469C3.34907 20.8722 4.43235 22.3527 5.8498 22.3002C7.23686 22.2427 7.7549 21.4157 9.4292 21.4157C11.088 21.4157 11.574 22.3002 13.0202 22.2668C14.5086 22.2427 15.4463 20.9356 16.3407 19.5977C17.0067 18.6533 17.5192 17.6096 17.8591 16.5052C16.0914 15.7575 14.942 14.0253 14.9399 12.106Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2075 4.01601C13.019 3.0418 13.4188 1.78962 13.322 0.525391C12.0822 0.655611 10.9369 1.24817 10.1144 2.185C9.30227 3.10931 8.89083 4.31855 8.97073 5.54639C10.2272 5.55933 11.4202 4.99527 12.2075 4.01601Z" fill="black"/>
                </svg>

                App Store
            </button>
        </div>
        
            <div class="google-reviews">

                <div class="swiper-container people-say">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper people-say-wrapper">
                        <!-- Slides -->
                        {% assign google_rev = section.blocks | where: 'type', 'google_reviews' %}
                        {% for block in google_rev %}
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:{{block.settings.google_user}} star-count:{{block.settings.num_reviews}} addres:{{block.settings.google_address}} review-text: {{block.settings.review-text}} %} </div>
                        <!-- Stuff -->
                        {% endfor %}
                            {% comment %} <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman1" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman2" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman3" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman4" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman4" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman4" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman4" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman4" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman4" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Andrew Huberman4" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div> {% endcomment %}
                    </div>

                    <!-- If we need pagination -->
                    <hr/>
                    <div class="swiper-pagination people-say-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"><svg width="51" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.22093" y="1.28466" width="48.482" height="48.482" rx="24.241" fill="#652FFF"/>
                    <rect x="1.22093" y="1.28466" width="48.482" height="48.482" rx="24.241" stroke="#652FFF" stroke-width="0.850561"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M34.3928 25.5261C34.3928 26.0546 33.9644 26.483 33.4359 26.483L19.8636 26.483L25.1682 31.5346C25.5491 31.9008 25.561 32.5066 25.1947 32.8875C24.8285 33.2685 24.2227 33.2804 23.8418 32.9141L16.8246 26.2159C16.637 26.0355 16.531 25.7864 16.531 25.5261C16.531 25.2659 16.637 25.0168 16.8246 24.8364L23.8418 18.1382C24.2227 17.7719 24.8285 17.7838 25.1947 18.1648C25.561 18.5457 25.5492 19.1514 25.1682 19.5177L19.8636 24.5693L33.4359 24.5693C33.9644 24.5693 34.3928 24.9977 34.3928 25.5261Z" fill="white"/>
                    </svg>
                    </div>
                    <div class="swiper-button-next"><svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.05907" y="1.28466" width="48.482" height="48.482" rx="24.241" fill="#652FFF"/>
                    <rect x="1.05907" y="1.28466" width="48.482" height="48.482" rx="24.241" stroke="#652FFF" stroke-width="0.850561"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.3694 25.5266C16.3694 24.9981 16.7979 24.5697 17.3263 24.5697L30.8986 24.5697L25.594 19.5182C25.2131 19.1519 25.2012 18.5461 25.5675 18.1652C25.9338 17.7843 26.5395 17.7724 26.9204 18.1387L33.9376 24.8368C34.1252 25.0172 34.2312 25.2663 34.2312 25.5266C34.2312 25.7869 34.1252 26.0359 33.9376 26.2163L26.9204 32.9145C26.5395 33.2808 25.9338 33.2689 25.5675 32.888C25.2012 32.507 25.2131 31.9013 25.594 31.535L30.8986 26.4835L17.3263 26.4835C16.7979 26.4835 16.3694 26.0551 16.3694 25.5266Z" fill="white"/>
                    </svg>
                    </div>

                </div>
                
            </div>
       
            <div class="apple-reviews">
                <div class="swiper-container people-say">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper people-say-wrapper">
                        <!-- Slides -->

                        {% assign apple_rev = section.blocks | where: 'type', 'apple_reviews' %}
                        {% for block in apple_rev %}
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:{{block.settings.google_user}} star-count:{{block.settings.num_reviews}} addres:{{block.settings.google_address}} review-text: {{block.settings.review-text}} %} </div>
                        <!-- Stuff -->
                        {% endfor %}

                        
                            {% comment %} <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant1" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant2" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant3" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant4" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant5" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant6" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant7" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant8" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant9" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div>
                            <div class="swiper-slide people-say-slide">{%  render 'people-say-card' name:"Rishabh Pant10" star-count:5 addres:"USA Nevada" review-text: "The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!" %} </div> {% endcomment %}
                    </div>

                    <!-- If we need pagination -->
                    <hr/>
                    <div class="swiper-pagination people-say-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"><svg width="51" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.22093" y="1.28466" width="48.482" height="48.482" rx="24.241" fill="#652FFF"/>
                    <rect x="1.22093" y="1.28466" width="48.482" height="48.482" rx="24.241" stroke="#652FFF" stroke-width="0.850561"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M34.3928 25.5261C34.3928 26.0546 33.9644 26.483 33.4359 26.483L19.8636 26.483L25.1682 31.5346C25.5491 31.9008 25.561 32.5066 25.1947 32.8875C24.8285 33.2685 24.2227 33.2804 23.8418 32.9141L16.8246 26.2159C16.637 26.0355 16.531 25.7864 16.531 25.5261C16.531 25.2659 16.637 25.0168 16.8246 24.8364L23.8418 18.1382C24.2227 17.7719 24.8285 17.7838 25.1947 18.1648C25.561 18.5457 25.5492 19.1514 25.1682 19.5177L19.8636 24.5693L33.4359 24.5693C33.9644 24.5693 34.3928 24.9977 34.3928 25.5261Z" fill="white"/>
                    </svg>
                    </div>
                    <div class="swiper-button-next"><svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.05907" y="1.28466" width="48.482" height="48.482" rx="24.241" fill="#652FFF"/>
                    <rect x="1.05907" y="1.28466" width="48.482" height="48.482" rx="24.241" stroke="#652FFF" stroke-width="0.850561"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.3694 25.5266C16.3694 24.9981 16.7979 24.5697 17.3263 24.5697L30.8986 24.5697L25.594 19.5182C25.2131 19.1519 25.2012 18.5461 25.5675 18.1652C25.9338 17.7843 26.5395 17.7724 26.9204 18.1387L33.9376 24.8368C34.1252 25.0172 34.2312 25.2663 34.2312 25.5266C34.2312 25.7869 34.1252 26.0359 33.9376 26.2163L26.9204 32.9145C26.5395 33.2808 25.9338 33.2689 25.5675 32.888C25.2012 32.507 25.2131 31.9013 25.594 31.535L30.8986 26.4835L17.3263 26.4835C16.7979 26.4835 16.3694 26.0551 16.3694 25.5266Z" fill="white"/>
                    </svg>
                    </div>

                </div>
            </div>
        </div>
        <div>
    </div>
</div>



<script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const swiper = new Swiper('.people-say', {
            direction: 'horizontal',
            loop: true,
            slidesPerView: 'auto',
            pagination: {
                el: '.people-say-pagination',
                type: "fraction",
                renderFraction: function (currentClass, totalClass) {
                    return '<span class="' + currentClass + '"></span>' +
                            ' of ' +
                            '<span class="' + totalClass + '"></span>';
                }
            },
            spaceBetween: 0,
            // autoplay: {
            //     delay: 3000,
            //     disableOnInteraction: false,
            // },
            lazy: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    });
</script>

{% schema %}
{
    "name": "people-say",
    "settings": [
        
        ],
    "blocks": [
        {
            "type": "google_reviews",
            "name": "Google Reviews",
            "settings": [
                {
                    "type": "range",
                    "id": "num_reviews",
                    "label": "Number of Reviews",
                    "min": 1,
                    "max": 5,
                    "default": 1
                },
                {
                    "type": "text",
                    "id": "google_user",
                    "label": "User Name"

                },
                {
                    "type": "text",
                    "id": "google_address",
                    "label": "User Address"

                },
                {
                    "type": "text",
                    "id": "review-text",
                    "label": "Review Text"

                }
            ]
        },
        {
            "type": "apple_reviews",
            "name": "Apple Reviews",
            "settings": [
                {
                    "type": "range",
                    "id": "num_reviews",
                    "label": "Number of Reviews",
                    "min": 1,
                    "max": 5,
                    "default": 1
                },
                {
                    "type": "text",
                    "id": "google_user",
                    "label": "User Name"

                },
                {
                    "type": "text",
                    "id": "google_address",
                    "label": "User Address"

                },
                {
                    "type": "text",
                    "id": "review-text",
                    "label": "Review Text"

                }
            ]
        }
    ]
}
{% endschema %}